# Rust
target/

# Python
/env
__pycache__

# Build
/build/
/_build/
/builddir/
/build-aux/app
/build-aux/.flatpak-builder/
*.ui.in~
*.ui~
/.flatpak/
/vendor

# Web extension (generated for local dev)
webext/add-on/manifest.json

# IDE
/.vscode/settings.json
.idea
